@import "bulma/sass/utilities/initial-variables.sass";
@import "colors";
@import "variables";
@import "utilities";

/* html {
    font-size: 100%;
} */

/* @media screen and (min-width: 108rem) and (orientation: landscape) {
    html {
        font-size: 1vw;
    }
} */



/*
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *  contenteditable attribute is included anywhere else in the document.
 *  Otherwise it causes space to appear at the top and bottom of elements
 *  that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 * `:before` to contain the top-margins of child elements.
 */
 #content .container .content:before,
 #content .container .content:after,
 .clearfix:before,
 .clearfix:after {
   content: " "; /* 1 */
   display: table; /* 2 */
 }
 
 #content .container .content:after,
 .clearfix:after {
   clear: both;
 }
 
 /*
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  #content .container .content,
 .clearfix {
   zoom: 1;
 }

 /* Clear header for anchors */
 /* :target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
} */
 
 /*
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  #content .container .content,
 .clearfix {
   zoom: 1;
 }

 /* Clear header for anchors */
 :target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}

body {
    /* font-family: 'Raleway', sans-serif !important;
    font-size: 1.25rem;
    line-height: 1.4; */
    /* lining numerals, ss02 = alternate a, ss09 = alternate W/w */
    /* -webkit-font-feature-settings: "lnum", "ss02", "ss09";
    -moz-font-feature-settings: "lnum", "ss02", "ss09";
    font-feature-settings: "lnum", "ss02", "ss09"; 
    margin: 0; */
}

/* :lang(ja) {
    font-family: "Zen Kaku Gothic New", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    font-feature-settings: normal;
    word-break: keep-all;
    font-style: normal !important;
} */
  
/* h1 :lang(ja), h2 :lang(ja), h3 :lang(ja) {
    font-size: 0.9em;
    line-height: 1.555555em;
} */

.quire-page h3,
.quire-page h4,
.quire-page h5 {
    font-style: normal;
    font-size: inherit;
}

h1 > * {
    display: inherit;
}
h1 > em {
    display: inline;
}
.quire-page__header__contributor {
    margin-top: 0;
}
.quire #main {
    background-color: #fff;
}

p.small-text {
    font-size: .875em;
}

em {
    font-style: oblique 5deg;
}

/* Navbar */

.quire-navbar h1 {
    color: #fff;
    font-size: 22px !important;
    padding: 10px 0 10px 10px;
    line-height: 1;
}

.quire:not(.no-js) .quire__secondary.is-expanded + .quire__primary {
    transform: none;
}
.quire:not(.no-js) .quire__primary .quire-navbar {
    background-color: $off-black;
    min-height: 4.375rem;
}
.quire-navbar-controls {
    line-height: 4.375rem;
    height: 4.375rem;
}
.quire-navbar-page-controls__item {
    max-height: 4.375rem;
}
.quire:not(.no-js) .quire__secondary {
    top: 4.375rem;
}
.quire-navbar a {
    background-color: $off-black;
    color: #ffffff !important;    
}
.quire-navbar .nav-text {
    color: #ffffff !important;    
}
.quire-navbar svg {
    fill: #ffffff;
}
.quire-navbar-controls__left {
    display: flex;
    align-self: center;
    flex: 1 1 300px;
    max-width: 300px;
    min-width: 130px;
}
.quire-navbar-controls__left .logos {    
    display: flex;
    flex-direction: row;
    align-self: center;
    line-height: 1;
    padding-left: 20px
    /* justify-content: space-evenly; */
}
.quire-navbar-controls__left .logos a:hover {
    background-color: transparent;
}
.quire-navbar-controls__left .logos img {
    max-width: 80%;
}
/* .quire-navbar-controls__left .logos .dam-logo {
    height: 40px;
    width: auto;
    margin: 0 10px;
}
.quire-navbar-controls__left .logos .biophilia-logo {
    height: 40px;
    width: auto;
    margin: 0 10px;
} */
.quire-navbar-controls .quire-navbar-controls__center {
    flex: 1 1 auto;
    /* visibility: hidden; */
}
/* 
.quire-navbar-controls:hover .quire-navbar-controls__center {
    visibility: visible;
} */
.quire-navbar-controls__right {
    display: flex;
    -webkit-box-flex: 0;
    flex: 1 1 300px;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}
.quire-navbar-controls__right button {
    height: 100%;
    width: auto;
    padding: 0 15px;
    margin-right: 15px;
    cursor: pointer;
}
.quire-navbar-controls__right button svg {
    height: calc(4.375rem * .65);
    width: calc(4.375rem * .65);
    max-height: 1rem;
    max-width: 1rem;
    vertical-align: middle;
    margin-top: 2px;
}
.quire-navbar-controls__right button > * {
    position: static;
    display: inline;
    color: #ffffff;
}

.quire-search__close-button {
    right: 0;
    left: auto;
}
.quire-navbar-controls .quire-navbar-page-controls {
    flex-direction: row;
}
.quire-navbar-controls .quire-navbar-page-controls > * {
    flex-direction: row;
}
.quire-navbar-controls .quire-navbar-page-controls__item a {
    transition: none;
}

.quire-navbar-page-controls__item.quire-previous-page,
.quire-navbar-page-controls__item.quire-next-page {
    min-width: 20rem;
}
.quire-navbar-page-controls__item.quire-previous-page {
    text-align: right;
    /* flex-direction: row;
    flex: 0 1 50rem; */
}
/* .quire-navbar-page-controls__item.quire-previous-page a {
    text-align: left;
} */
/* .quire-navbar-page-controls__item.quire-home-page {
    flex-direction: row;
    flex: 1 0 6rem;
} */
.quire-navbar-page-controls__item.quire-next-page {
    text-align: left;
    /* flex-direction: row;
    flex: 0 1 50rem; */
}
/* .quire-navbar-page-controls__item.quire-next-page a {
    text-align: right;
} */

.quire-navbar-controls__left a:hover, .quire-navbar-controls__left button:hover, .quire-navbar-controls__left .button:hover, 
.quire-navbar-controls__right a:hover, .quire-navbar-controls__right button:hover, .quire-navbar-controls__right .button:hover, 
.quire-navbar-controls .quire-navbar-page-controls__item a:hover, .quire-navbar-controls .quire-navbar-page-controls__item button:hover, 
.quire-navbar-controls .quire-navbar-page-controls__item .button:hover {
    background-color: $link-color;
}

.quire-navbar .logos {
    line-height: 0;

    .logo-link {
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        background-color: transparent;
        max-width: 12rem;

        img {
            height: 90%;
            width: auto;
            max-width: 100%;
        }
    }
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    display: inline-block;
    /* width: 9.25em; */
    height: 2.9em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    font-size: 1rem;
    border: 1px solid $off-black;
    background-color: transparent;
}
.button:hover {
    background-color: $link-color;
    border-color: $link-color;
}
.button:hover a {
    color: #fff;
}
.button a {
    color: $off-black;
    display: inline-block;
    width: 8.75em;
    height: 3.25em;
    margin-top: 0;
    padding-top: 0.2em;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}
.button span.button-title {
    vertical-align: super;
}



.quire-menu__header .quire-menu__header__contributors {
    display: none;
}

.quire-progress-bar div {
    background-color: $off-black;
}

.quire-cover__more .hero-more.next-page {
    transform: rotate(-90deg);
}
.quire-cover__more .hero-more svg {
    width: 54px;
    height: 54px;
}

.quire-page__header.hero-image {
    margin-bottom: 60px !important;
    position: relative;
}
.quire-page__header.hero-image .hero-credit-icon:after {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: inline-block;
    content: "i";
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 1.2;
}
.quire-page__header.hero-image .hero-credit {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 40px;
    font-size: .9rem;
    text-align: left;

    display: none;
}

/*
 * Weird Manferdini video aspect ratio fix
 */
.q-figure__media-wrapper.q-figure__media-wrapper--manferdini {
    padding-bottom: 34.96%;
}

/*
 * Change modal link to indicate slideshow for modal links with extra slides
 */
.q-figure__modal-link__additional-slides {
    &::before {
        content: "";
        background-color: rgba(0,0,0,0.7);
        @include background-svg("<svg xmlns='http://www.w3.org/2000/svg' width='82' height='82' viewbox='0 0 82 82'><path fill='#FFF' d='M61 10a3 3 0 0 1 3 3v10h11a3 3 0 0 1 3 3v45a3 3 0 0 1-3 3H22a3 3 0 0 1-3-3V61H8a3 3 0 0 1-3-3V13a3 3 0 0 1 3-3h53zm12 18H24v41h49V28zM59 15H10v41h9V26a3 3 0 0 1 3-3h37v-8z'/></svg>");
        background-origin: content-box;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border-top-left-radius: 0.125em;
        width: 1.77777778em;
        height: 1.77777778em;
        display: inline-block;
        overflow: hidden;
        padding: 0.333333em;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

/* Page Layout */

.quire-page {
    min-height: calc(100vh - 4.375rem - 2px);
}


.quire-page__content {
    animation: none;
}

.quire-page--list.quire-contents .section.quire-page__content .container {
    max-width: 1400px;
    width: 1400px;
}

article.quire-page .quire-page__content .container
article.quire-page--full-width .quire-page__content .container,
article.quire-page--left-column .quire-page__content .container,
article.quire-page--right-column .quire-page__content .container {
    max-width: 1400px;
    width: 1400px;
}
article.quire-page--left-column .quire-page__content .container .content > p,
article.quire-page--right-column .quire-page__content .container .content > p,
article.quire-page--left-column .quire-page__content > figure,
article.quire-page--right-column .quire-page__content > figure {
    max-width: 70%;
    width: 70%;
}
article.quire-page--left-column .quire-page__content .container .content blockquote,
article.quire-page--right-column .quire-page__content .container .content blockquote {
    max-width: 60% !important;
    width: 60% !important;
}

article.quire-page__content .container .content > .full-width,
article .quire-page__content .container .content > figure.full-width {
    margin-left: calc( -100vw / 2 + 100% / 2 + 50px );
    margin-right: calc(-100vw / 2 + 100% / 2 - 50px );
    max-width: calc( 100vw - 100px );
    width: auto;
    max-width: auto;
    clear: both;
    margin-bottom: 1.4em;
}
.quire-page__content .container .content .pull-quote {
    font-size: 1.575rem;
    margin-left: calc( -100vw / 2 + 100% / 2 + 250px );
    margin-right: calc(-100vw / 2 + 100% / 2 + 250px );
    padding: 0 40px;
    max-width: calc( 100vw - 300px );
    width: auto;
    clear: both;
    animation: fadeIn 5s;
    font-style: normal;
}
.quire-page__content .container .content .pull-quote p {
    line-height: 1.4;
}
.quire-page__content .container .content .pull-quote .citation {
    white-space: nowrap;
}

article .quire-page__content .container .content > .threefourths-width,
article .quire-page__content .container .content > figure.threefourths-width
article .quire-page__content .container .content > .threefourths-width,
article .quire-page__content .container .content > figure.threefourths-width {
    /* margin-left: calc( -50vw / 2 + 50% / 2 + 50px );
    margin-right: calc(-50vw / 2 + 50% / 2 - 50px ); */
    max-width: calc( 75vw - 100px );
}
article .quire-page__content .container .content > .half-width,
article .quire-page__content .container .content > figure.half-width {
    /* margin-left: calc( -50vw / 2 + 50% / 2 + 50px );
    margin-right: calc(-50vw / 2 + 50% / 2 - 50px ); */
    max-width: calc( 50vw - 100px );
}
.quire-page__content .container .content > .centered {
    margin-left: auto;
    margin-right: auto;
}
article .quire-page__content .container .content > figure.float {
    float: left;
}

article.quire-page--left-column .quire-page__content .container .content figure.right-column {
    float: right;
    max-width: 500px;
    width: 30%;
    clear: right;
    padding-left: 10px;
}

article.quire-page--right-column .quire-page__content .container .content figure.left-column {
    float: left;
    right: 0;
    max-width: 500px;
    width: 30%;
    clear: left;
    padding-left: 10px;
}

.q-figure:not(.q-figure--group__item) {
    &.is-pulled-left, &.is-pulled-right {
        margin-top: 0.625em;
        margin-bottom: 1em;
        padding: 0;
    }
}

article.quire-page--left-column .quire-page__content .container .content .is-pulled-left {
    width: 30%;
}
article.quire-page--right-column .quire-page__content .container .content .is-pulled-right {
    width: 30%;
}

.content figure.hidden {
    display: none;
}

.content figure.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

/* Special class to make sure the image is fully visible when it sticks */
.content figure.sticky.fit .q-figure__wrapper {
    text-align: left;
}
.content figure.sticky.fit img {
    width: auto;
    max-height: 90vh;
    float: left;
}

/* Captions */
.q-figure--group, .q-figure--image {
    .q-figure__caption .q-figure__credit {
        display: none;
    }
}


.test-spacer {
    background-color: red;
    height: 200px;
    float: right;
}

.spacer {
    width: auto;
    clear: both;
}
.spacer-100 {
    width: auto;
    height: 1em;
    clear: both;
}
.spacer-200 {
    width: auto;
    height: 2em;
    clear: both;
}
.spacer-300 {
    width: auto;
    height: 3em;
    clear: both;
}

.padding-20 {
    padding: 20px;
}

/* Content Styles */

div.is-aligned-right, p.is-aligned-right {
    text-align: right;
}

.content figure:not(:first-child) {
    margin-top: 0;
}

.q-figure:not(.q-figure--group__item) {
    border-top: none;
    border-bottom: none;
}

.quire-figure {
    border-top: none;
    border-bottom: none;
    padding: 0;
}

.quire-page__header .hero-body {
    margin: 0 7rem;
    padding: 4rem 0rem;
}

/* Remove large quotation mark before quotes */
.quire-page__content .container .content blockquote p:first-child:before,
.quire-page__content .container .content blockquote ul:first-child:before,
.quire-page__content .container .content blockquote ol:first-child:before,
.quire-page__content .container .content blockquote dl:first-child:before,
.quire-page__content .container .content blockquote h1:first-child:before,
.quire-page__content .container .content blockquote h2:first-child:before,
.quire-page__content .container .content blockquote h3:first-child:before,
.quire-page__content .container .content blockquote h4:first-child:before,
.quire-page__content .container .content blockquote h5:first-child:before,
.quire-page__content .container .content blockquote h6:first-child:before {
    display: none;
}

.content p:not(:last-child), .content dl:not(:last-child),
.content ol:not(:last-child), .content ul:not(:last-child),
.content blockquote:not(:last-child), .content pre:not(:last-child),
.content table:not(:last-child) {
    margin-bottom: 1.4em;
}

.quire-contents-buttons {
    clear: both;
    margin-bottom: 40px;
}

.canvas-panel-ui {
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 30px;
    right: 10px;

    .quire-entry .side-by-side & {
        top: 24px;
        right: 11px;
    }
}
.canvas-panel-ui .canvas-panel-ui-button {
    background: transparent;
    border: none;
    height: 30px;
    width: 30px;
    margin: 4px 0;
    padding: 0;
}
.canvas-panel-ui svg {
    width: 100%;
    height: 100%;
}

q-modal q-lightbox .q-lightbox-ui .q-lightbox-ui__zoom-and-fullscreen {
    display: none; // This button does nothing, why does it exist?
}

.quire-entry .side-by-side .q-lightbox-ui__fullscreen-button {
    bottom: auto;
    top: 0px;
    left: auto;
    right: 11px;
    margin-left: 0;

    &[data-lightbox-fullscreen=true] {
        top: -9px;
        right: 11px;
    }
}
.q-lightbox-ui__download-and-counter {
    bottom: 30px;
    top: auto;
}
.quire-entry .side-by-side .q-lightbox-slides__caption {
    display: none;
}

.quire-entry__header .quire-page__header__title {
    display: none;
}

.quire-entry__tombstone .table {
    display: block;
    background-color: $off-white;
    color: $off-black;
    padding: 1.75rem;
    border-radius: 20px;
    line-height: 1.4;
}
.quire-entry__tombstone .table tbody {
    display: block;
}
.quire-entry__tombstone tr,
.quire-entry__tombstone tr td {
    display: block;
}
.quire-entry__tombstone tr td:first-child {
    display: none;
}
.quire-entry__tombstone tr td {
    padding: 0px 10px 10px;
}
.quire-entry__tombstone tr:hover {
    background-color: inherit;
    color: inherit;
}

.quire-entry__tombstone tr.artist-property td, 
.quire-entry__tombstone tr.title-property td {
    font-size: 1.4rem;
    line-height: 1;
    padding-bottom: 0px;
}
.quire-entry__tombstone tr.title-property td {
    font-weight: 700;
}

.quire-entry__tombstone tr.credit-property {
    font-size: 80%;
}
.quire-entry__tombstone tr.medium-property {
    margin-bottom: 0px;
}
.quire-entry {
    .quire-page__content {
        .container {
            .content {
                .footnotes {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}


/* object label customization */
.bio-property {
    .artist-property {
        margin-top: .75em;
        span {
            display: block;
            margin: 0;
            padding: 0;
            font-size: 1.4rem;
            line-height: 1;
        }

        &.sub-property {
            margin-left: 1rem;
            span {
                font-size: 1.2rem;
            }
        }
    }
}
tr.title-property {
    margin-top: 1rem;
    .hide-title {
        display:none;
    }
}
tr.year-property, tr.medium-property{
    td {
        padding-bottom:0 !important;
    }
}
.multi-property td {
    padding-bottom: 0 !important;
    p {
        margin: 1em 0;
    }
    .obj-title {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1;
        margin-top: 1.2rem;
    }
    .summary + .summary {
        margin-top: 1.5em;
    }
    .credit-line {
        font-size: .875em;
        margin: 1em 0 1.75em;
    }
}


main .link-to-checklist {
    display: none;
}
main[data-page-id^='page-checklist'] .link-to-checklist {
    display: block;
}


.littlefoot {
    --button-background-color: transparent !important;
    --button-text-color: #{$off-black} !important;
    --button-active-background-color: #{$link-color} !important;
    --button-active-text-color: #{$off-white} !important;
    --button-margin: 0 -0.25rem 0 -0.333333rem !important;
    --button-padding: 0.11111rem 0.333333rem !important;
    --button-font-size: 12px;
}

.littlefoot__button {
    vertical-align: super !important;
}

.footnotes hr {
    clear: both;
}

.footnotes.littlefoot--print {
    padding-top: 40px;
}
.footnotes.littlefoot--print,
.footnotes .littlefoot--print,
.footnotes.footnote-print-only,
.footnotes .footnote-print-only {
    display: block !important;
}

.footnotes li.littlefoot--print,
.footnotes li.footnote-print-only {
    list-style-type: decimal;
    display: list-item !important;
}
ol.footnotes-list > li::marker {
    font-weight: normal;
}
::marker {
    display: none;
}

.quire-page__content .container .content .littlefoot__content p {
    font-family: $inter;
    color: $off-black;
    line-height: 1.4;
    font-style: normal;
    font-weight: normal;
}
.footnotes-title {
    font-weight: bold !important;
    border-top: 1px solid $off-black;
}
aside .footnotes-title {
    border-top: none;
}


/* Lightbox / Slides */
.q-lightbox-slides__element canvas-panel, 
.q-lightbox-slides__element img, 
.q-lightbox-slides__element image-service {
    height: calc(100% - 140px) !important;
}
/* .side-by-side .q-lightbox-slides__element canvas-panel, 
.side-by-side .q-lightbox-slides__element img, 
.side-by-side .q-lightbox-slides__element image-service {
    height: 100% !important;
} */
// TODO: ??? make sure this doesn't conflict with other ui positioning
.q-figure-slides__slide-ui {
    bottom: 20px;
}
.q-lightbox-slides__element canvas-panel, .q-lightbox-slides__element img, .q-lightbox-slides__element image-service {
    top: 44%;
}

.audio-player-container {
    background-color: transparent;
}


.quire-page__header__contributor .quire-contributor > * {
    display: block;
}

.quire-page__header__contributor .quire-contributor__affiliation,
.quire-page__header__contributor .quire-contributor__comma {
    display: none;
}
.quire-page__header__contributor {
    font-style: normal;
}
.quire-page__header__contributor .quire-contributor__name {
    font-size: 1.2rem;
    font-weight: bold;
}

.contributor {
    text-align: center;
}
.quire-page__content .container .content .contributor p {
    margin: 0;
    padding: 0;
    line-height: 1.2
}

.contributor-name {
    font-weight: bold;
}


// Change focus outline color for lightboxes with zoomable images
@media screen {
    q-lightbox {
        --atlas-focus: 2px solid #{$link-color} !important;
    }
}

.quire-page__content .container .content hr.essay-break {
    background-color: $off-black;
    width: 48px; 
    margin-left: auto;
    margin-right: auto;
}
.quire-page__content .container .content hr.essay-break:after {
    display: none;
}


.note {
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 20px;
}



/* Specific page styles */


/* Cover / Index */

#page-index .quire-cover__hero-body.hero-body {
    display: none;
}
#page-index .quire-navbar-page-controls__item.quire-previous-page a,
#page-index .quire-contents-buttons li.quire-nav-button.prev {
    display: none;
}

body#page-index .quire-cover__hero {
    text-align: center;
}
body#page-index .quire-cover__hero-body .title {
    font-size: 3rem;
    word-spacing: 0.4em;
    font-weight: bold;
    letter-spacing: 0.9rem;
    margin: auto;
    text-transform: uppercase;
    -webkit-animation: fadeIn 4s;
    animation: fadeIn 4s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
body#page-index .quire-cover__hero-body .title .subtitle {
    padding-left: 6px;
    font-size: 2.0rem;
    word-spacing: 0.3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: none;
    -webkit-animation: fadeIn 4s;
    animation: fadeIn 4s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
body#page-index .contributor {
    display: none;
}

body#page-index .quire-navbar-controls__left .logos {
    display: none;
}

h1.quire-page__header__title .separator {
    display: none;
}

#page-index .dam-logo {
    text-align: right;
    width: 100%;
}


/* Contents */

#page-contents .quire-page h1, .quire-page__header__title {
    font-size: 2em;
}

#page-contents .separator {
    display: none;
}
#page-contents .subtitle {
    display: block;
    font-size: inherit;
    font-size: 80%;
    font-weight: inherit;
    margin-bottom: inherit;
}

.table-of-contents {
    text-align: center;
    /* width: 360px;
    margin-left: auto;
    margin-right: auto; */
}
.quire-contents-list .menu-list a:hover {
   color: $link-color;
   * { // Quire's default styles are wildly over-generic in the worst places
    color: inherit;
   }
}
.table-of-contents ol {
    margin-left: 0 !important;
}
.table-of-contents .contributor-divider {
    display: none;
}
.table-of-contents .contributor {
    display: block;
    color: inherit;
    font-size: 70%;
    font-weight: normal;
}
.table-of-contents a:hover .contributor {
    color: inherit;
}
.quire-contents-list .page-item,
.quire-contents-list .section-item {
    line-height: 1.2;
}
.quire-contents-list .menu-list a {
    line-height: inherit;
}
.quire-contents-list .menu-list a:hover {
    padding-bottom: none;
}
.quire-contents-list .menu-list a .arrow {
    display: none;
}
.quire-contents-list .menu-list .section-item ol a,
.quire-contents-list .menu-list .section-item ol a:hover {
    font-weight: bold;
    border-bottom: none;
    line-height: 1.4;
}
.quire-contents-list .menu-list .section-item ol li.level-1.section-item > a {
    font-size: 1.375em;
}
.quire-contents-list .page-item.level-0 > a,
.quire-contents-list .section-item.level-0 > a {
    font-weight: bold !important;
}
.quire-contents-list .page-item.level-1 ol, .quire-contents-list .section-item.level-1 ol {
    margin-top: 0.5em;
}
.quire-contents-list .page-item.level-1, .quire-contents-list .section-item.level-1 {
    margin-bottom: 0.5rem;
    line-height: 1;
    font-size: 1rem;
}
.quire-contents-list .page-item.level-2, .quire-contents-list .section-item.level-2 {    
    margin-bottom: 2px;
    line-height: .5;
    font-size: 90%;
}

#page-contents .quire-contents-list .page-item.level-1 a {
    display: none !important;
    // color: red !important;
}


/* Foreward */

#page-foreword .quire-contributor > * {
    display: block;
}
#page-foreword .quire-contributor__comma {
    display: none;
}


/* Introduction */

#page-intro {
    .quire-page__header__contributor {
        font-weight: 400;
    }
}
#page-intro .quire-contributor > * {
    display: block;
}
#page-intro .quire-contributor__comma {
    display: none;
}

body#page-intro .quire-page__header.hero-image {
    background-image: none !important;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
}
body#page-intro .quire-page__header.hero-image img {
    max-width: 1589px;
    max-height: 984px;
    width: auto;
    height: auto;
    clip: auto;
    position: static;
    overflow: auto;
    margin: auto
}
body#page-intro .quire-page__header.hero-image .hero-body h1.quire-page__header__title,
body#page-intro .quire-page__header.hero-image .hero-body  .quire-page__header__contributor {
    color: $off-black;
}


/* Essay pages */

.quire-page.quire-essay {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
}
.quire-page.quire-essay .hero, .quire-page.quire-essay .hero-image {
    width: 50%;
    height: calc( 100vh - 4.375rem );
    /* max-height: calc( 100vh - 4.375rem ); */
}
.quire-page.quire-essay section.quire-page__content {
    width: 100%;
}
.quire-page.quire-essay .hero-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quire-page.quire-essay .separator {
    display: none;
}
.quire-page.quire-essay .subtitle {
    font-size: inherit;
    font-size: 80%;
    font-weight: inherit;
}

/* Forest Walk */

body#page-forest-walk .accordion-section h5 {
    color: $link-color;
}

/* Contributors */

body#page-contributors li.quire-contributor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body#page-contributors .quire-contributor__bio {
    margin-bottom: 1rem;
    text-align: center;
}
body#page-contributors .media ul {
    display: none;
    padding-left: 2rem;
    margin-bottom: 0px !important;
}

/* Acknowledgments */
.logo-dam, .logo-scfd {
    svg {
        width: auto;
        height: 6rem;
    }
}

/* Checklist */

body#page-checklist {
    .quire-contents-buttons {
        background-color: $off-white;
    }

    .quire-contents-list.grid {
        .page-item, ol li .card {
            background: $white;
        }

        ol li .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .card-content {
                color: $off-black;
                height: calc( 3.66rem + 3rem );
                font-weight: 400;
            }

            &:hover {
                .card-content {
                    color: $link-color;

                    * {
                        color: $link-color;
                    }
                }
            }
        }
    
        ol li a {
            height: 100%;
        }
    }
}

/* Glossary */
body#page-glossary .quire-page__header,
body#page-glossary .quire-page__content:not(:nth-child(3)) {
    animation: fadeIn 2s;
}
body#page-glossary .quire-page__content .container .content > p {
    margin-left: 1rem;
}
body#page-glossary .quire-page__content .container .content {
    margin-top: 0px;
}

body#page-glossary .alphabetical-index {
    position: -webkit-sticky; /* for browser compatibility */
    position: sticky;
    top: 4.375rem;
    background-color: $off-white;
    padding: 10px;
}
body#page-glossary .alphabetical-index p {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}
body#page-glossary .alphabetical-index a {
    border-bottom: none;
}

body#page-glossary .glossary-terms h2 {
    font-size: 1.125rem;
    line-height: 1.25;
    text-align: center;
}

body#page-glossary dl dd {
    margin-left: 0;
}

/* Close-knit Flower-sack */
body#page-close-knit-flower-sack {
    .quire-contents-buttons {
        li.quire-nav-button {
            border-color: $poem-interface;
            color: $poem-interface;

            a {
                color: $poem-interface;
            }
            svg {
                fill: $poem-interface;
            }

            &.next {
                background-color: $poem-background;

                a {
                    color: $poem-interface;
                }
                svg {
                    fill: $poem-interface;
                }

                &:hover {
                    background-color: $accent-color;
                }
            }

            &:hover {
                border-color: $accent-color;

                a {
                    color: $white;
                }
                svg {
                    fill: $white;
                }
            }
        }
    }

    .quire-page {
        // Need to come up with better colors
        background-color: $poem-background;
        color: $white;
        h1, .quire-page__header, .content {
            background-color: transparent;
            color: $white;
        }

        .poem-container {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
        .poem {
            display: inline-block;
            p {
                line-height: 1.8rem;
                margin:0;
                white-space: nowrap;
    
                &.indent {
                    margin-left: 10.5em;
                }
            }
        }
        .quire-page__content .container .content p {
            font-size: 1rem;
            opacity:0;
            text-wrap: nowrap;
        }
    
        .audio-player-container {
            .title-block p.track-title {
                font-size: 90%;
                opacity: 1 !important;
            }
        
            .play-pause-button {
                @include background-svg("<svg xmlns='http://www.w3.org/2000/svg' width='82' height='82'><path fill='#FFFFFF' d='M41 1C18.932 1 1 18.932 1 41s17.932 40 40 40 40-17.932 40-40S63.068 1 41 1zm0 4c19.906 0 36 16.094 36 36S60.906 77 41 77 5 60.906 5 41 21.094 5 41 5zM27.5 23.532v34.936a2 2 0 0 0 3.029 1.715l29.113-17.468a2 2 0 0 0 0-3.43L30.529 21.817a2 2 0 0 0-3.029 1.715z'/></svg>");

                &.playing {
                    @include background-svg("<svg xmlns='http://www.w3.org/2000/svg' width='82' height='82'><path fill='#FFFFFF' d='M41 1c22.068 0 40 17.932 40 40S63.068 81 41 81 1 63.068 1 41 18.932 1 41 1zm0 4C21.094 5 5 21.094 5 41s16.094 36 36 36 36-16.094 36-36S60.906 5 41 5zm-7.429 17C35.465 22 37 23.701 37 25.8v30.4c0 2.099-1.535 3.8-3.429 3.8H28.43C26.535 60 25 58.299 25 56.2V25.8c0-2.099 1.535-3.8 3.429-3.8zm20 0C55.465 22 57 23.701 57 25.8v30.4c0 2.099-1.535 3.8-3.429 3.8H48.43C46.535 60 45 58.299 45 56.2V25.8c0-2.099 1.535-3.8 3.429-3.8z'/></svg>");
                }
            }
        }
    }
} // End Close-Knit Flower Sack styles

/* About */

body#page-about .dam-logo {
    width: 200px;
    height: auto;
}



/* Search */
.quire-search {
    height: auto;
}
.quire-search__close-button {
    top: 12px;
}


@media screen and (min-width: 700px) {

    .container {
        margin: 0 auto;
        max-width: 840px;
        width: 840px;
    }

    .quire-entry div.side-by-side div.quire-entry__image-wrap {
        width: 50%;
    }
    .quire-entry div.side-by-side div.quire-entry__content {
        width: 50%;
    }

    .side-by-side .quire-entry__lightbox {
        top: 4.375rem;
        width: calc(50% - 8px);
        height: calc(100vh - 50px);
    }

}

@media screen and (max-width: 63.75rem) {
    .quire-navbar-page-controls__item.quire-previous-page,
    .quire-navbar-page-controls__item.quire-next-page {
        min-width: 12rem;
    }
}

@media screen and (max-width: 50.25rem) {

    .quire-navbar-controls__left {
        flex: 0 0 130px;
    }
    .quire-navbar-controls__right {
        flex: 0 0 130px;
    }

    .quire-navbar-page-controls__item,
    .quire-navbar-page-controls__item a {
        padding: 0px !important;
    }

    .quire-navbar-page-controls__item.quire-previous-page,
    .quire-navbar-page-controls__item.quire-next-page {
        min-width: auto;
    }
    .quire-navbar-page-controls__item.quire-previous-page a span.nav-text,
    .quire-navbar-page-controls__item.quire-next-page a span.nav-text {
        display: none;

    }
    .quire-navbar-page-controls__item.quire-previous-page a svg,
    .quire-navbar-page-controls__item.quire-home-page a svg,
    .quire-navbar-page-controls__item.quire-next-page a svg {
    }

    .quire-navbar .logos .logo-link {
        font-size: 14px !important;
    }

    .quire-navbar-button.menu-button .is-hidden-touch,
    .quire-navbar-button.search-button  .is-hidden-touch {
        display: none;
    }

    .quire-navbar svg {
        max-height: 1.4rem;
        max-width: 1.4rem;
    }
    .quire-page__content .container .content .pull-quote {
        font-size: 1.4rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 100vw;
        padding: 0px 0px 20px;
    }



    .quire-page.quire-essay .quire-page__header.hero {
        order: 2;
        width: 100vw;
        height: calc( 50vh - 4.375rem );
    }
    .quire-page.quire-essay .quire-page__header.hero-image {        
        order: 1;
        width: 100vw;
        height: calc( 50vh - 4.375rem );
    }
    .quire-page__header.hero-image .hero-credit-icon:after {
        display: none;
    }
    .quire-page__header.hero-image .hero-credit {
        display: block;
        color: #000;
        position: absolute;
        bottom: -46px;
        left: 20px;
    }

    .section.quire-page__content {   
        order: 3;
    }
    .quire-page__header .hero-body {
        margin: 0 0.3rem;
        padding: 0.5rem 0rem;
    }


    body#page-close-knit-flower-sack .quire-page__content .container .content p {
        font-size: .5rem;
    }
}

@media print {
    // video {
    //   display: none;
    // }

    #page-checklist .quire-contents-list {
        display: none;
    }
    .quire-entry div.side-by-side {
        display: flex;
        flex-direction: row;
    }
    .quire-entry div.side-by-side div.quire-entry__image-wrap {
        width: 55%;
        padding-right: 20px;
    }
    .quire-entry div.side-by-side div.quire-entry__content {
        width: 45%;
        padding: 0 20px;
    }

    pre {
        background-color: transparent;
    }

    .quire-contents-list .page-item,
    .quire-contents-list .section-item > a {
        max-width: 100%;
    }

    .quire-contents-list .menu-list .section-item ol li.level-1.section-item > a {
        font-size: 1rem;
    }

    .quire-splash .quire-page__header.hero-image + .quire-page__content p:first-child, 
    .quire-splash .quire-page__header.hero-image + .quire-page__content figure:first-child {
        padding-top: 0;
    }

    .quire-page.quire-essay .hero, .quire-page.quire-essay .hero-image {
        width: 100%;
        height: 100vh;
    }
    .quire-entry div.side-by-side div.quire-entry__content {
        // overflow: scroll;
        width: 100%;
        height: 100vh; /*calc((100vh - 3rem - 2px)* 0.55 - 16px);*/
    }
}